body{
  background: rgb(29,45,253);
  background: linear-gradient(90deg, rgba(29,45,253,1) 0%, rgba(87,99,252,1) 50%, rgba(122,129,251,0.9640231092436975) 100%);
}


.mods {
  font-size:18px;
  font-family:Arial Black;
  width:109px;
  height:45px;
  border-width:0px;
  color:#4E5754;
  border-color:#599bb3;
  font-weight:bold;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow: 0px 10px 29px -7px #276873;
  text-shadow: 0px 4px 0px #3d768a;
  background:linear-gradient(#599bb3, #408c99);
}

.mods:hover {
  background: linear-gradient(#408c99, #599bb3);
}
